.center-div {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Optional: Make the parent container fill the entire viewport */
}
  
.companyRequests table {
  width: 100%; /* Ensures the table spans the full available width */
}

.companyRequests thead {
  border: 1px solid #ddd;
}